/* ============ Start!    Body , Footer , site_author styles    ===============*/
body{
	min-width: ;
	overflow: scroll;
	min-width: 0px;
	font-family: "Segoe UI"; /* "Comic Sans MS", "Trebuchet MS", (Courier new-best for chat) */
	font-weight: ;
	font-size: 15px;
	/*background-color: #DDA0DD;*/
	/*background-image: url(" images/1513507845002.jpg");*/
	background-color: white;
	background-position: ;
	background-repeat:  no-repeat;*
	background-position: right;
	background-size: contain;
	background-attachment: absolute fixed;


}

.footer{
	font-size: 13px;
	word-spacing: 1px;
}

.site_author{
	font-family: monospace;
}

/* ============ End!    Body , Footer , site_author styles    ===============*/









/* Cross-page nav bar standard styling starts here! ========================*/
/* ------------------------------------------------------------------------*/
	/*<---	Nav-bar links & page title styles ----->*/


/* # Start!	 -----PAGE TITLE & SEARCH BOX------- #  */
	.main_page_title{
		margin-left: 0px;
		background-color:;
	/*  margin-right: auto;*/
		text-align:center;
		padding: 0px;
		text-shadow: 0.1em 0.1em 0.2em lightblue,  1px 1px pink;
		font-size:;
		float: left;
		height: 0px;
		top: 0px;
		margin-top: 0px;
		color: lightblue;
	}

	#page_search{
		float: right;
		font-size: 13px;
		margin-top: px;
		margin-bottom:0px;
		padding: 5px;
		min-height: px;
		max-height: px;
		border-radius: 3px;
		border-style: none;
		text-indent: 1px;
		font-family: ;
		background-color: white;
		color: ;
		border-style: none;
		margin-right: 7px;
		margin-top: 2.5px;
	}

	#page_search:focus{
		background-color: lightgrey /*#F0FFFF*/;
		color:  !important;
		font-size: ;
		width: 185px;

	}
/* End!  --- #  ----PAGE TITLE & SEARCH BOX ------- #  */



/*-------------------------------------------*/




/* Start! ---# 	-----NAV-BAR LINKS	-------- */
ul
	{
		margin: 0px;
		padding-left: 100px;
	}


ul li a
		{
			text-decoration: :none;
			display:block;
			text-decoration: none !important;
			color: black;
		}


ul li
		{
			text-decoration: none !important;
			background-color:lightgrey;
			min-width: 155px;

			line-height:30px;
			float:left;
			border:;
			text-align:center;
			font-size:18px;
			opacity:25;
			position:center;
			border-radius: ;
			margin: 1px;
			display:;
			list-style-type: none;
		}

ul li ul{
	padding-left: 0px;
	border-radius: 9px;
	background-color: lightgrey !important;
	list-style-position: inside;
	width: 60px;
		}

ul li a:hover
			{
				background-color:  #9FAFDF;
			  	border-radius: 5px;
				color: white;


		 	}

ul li a:focus
			{
				background-color: lightblue;
			  	border-radius: 4px;
				color: white;
		 	}

ul li ul li
			{
				display: none;
				background-color: #DCDCDC;
				margin-right: 1px;

			}

ul li ul li a:hover{
	background-color: #9FAFDF;
	border-radius: 9px;

}

ul li:hover ul li
				{
					display: block;
				}


#nav_title_bar{
	position: fixed;
	background-color: brown;
	height: 90px;
	border-radius: 8px 8px 2px 2px ;
	padding-left: 7px;
	top: 2px;
	left: 4px;
	right: 4px;
	z-index: 5000;

}

#link_header_section{

	padding-left: 0px;
	margin-top: 0px;
}

.home{ border-radius: 13px 0px 0px 13px;}

.home_link:hover{
	 border-radius: 13px 0px 0px 13px;
}

.bio{}

.myjourney{}

.helptopics{}

.resources{}

.socials{ border-radius: 0px 13px 13px 0px; }

.socials_link:hover{
	border-radius: 0px 13px 13px 0px;
}
/*
		.link_header_section a:hover {
			background-color: grey ;
			color: lightblue;
			text-decoration: underline !important;
		}

		.link_header_section a:active {
			background-color: black #AFEEEE !important;
		}

		.link_header_section a:focus {
			background-color: grey ;
			color: lightblue;
		}

		.link_header_section a { -webkit-transition: color .3s ease-out; } */


/*	END! ---# NAV-BAR LINKS --- */



/* Cross-page nav bar standard styling Ends here! ========================*/
/*--------------------------------------------------------------------------*/










/*--------------------------------------------------------------------------*/
/* START!    All-site cross page content box styling */
/*-----------------------------------------*/


				/* ----- Content box div styles --------*/
.content_box{

	background-color: /*#DCDCDC*/;
	border-style: solid;
	border-width: thin;
	border-color: ;
	font-size: 17px;
	/*background-repeat: repeat;*/
    /*animation: animatedBackground 40s linear infinite;*/
	min-width: 630px;
	overflow: visible;
	border-style: none;
	padding: 11px;
						}

/*@keyframes animatedBackground {
	        from { background-position: 0 0; }
	        to { background-position: 100% 100%; }
        } */



			/*Fin. ---- cross page content box styling ---*/
/*--------------------------------------------------------*/






/*--------------------------------------------------------*/
/*--------- SITE content links (content_box) ---------*/

.content_box a:link{
	background-color: lightgrey;
	padding: 1.1px;
	text-decoration: none;
	border-radius: 2px;
	text-indent: 22px;

							}


.content_box a:visited{
	background-color: none;
	border-radius: 2px;
							}


.content_box a:hover{
	background-color: orange;
	border-style: solid;
	border-width:thin;
	border-color: #FF8C00;
	padding-left: 0.5px;
	padding-right: 1.2px;
	text-decoration: none;
	border-radius: 2px;
							}


.content_box a:active{
	background-color: pink;
	border-radius: 2px;
							}


.content_box a:focus{
	background-color: orange;
	border-style: solid;
	border-width: thin;
	border-color: grey;
	padding: 1.2px;
	text-decoration: none;
	border-radius: 2px;
							}


.content_box a { -webkit-transition: color .4s ease-out; }
/* ---------------------Fin. content links ------------------*/


/*-----------------------------------------*/
/* END!   All-site cross page content box styling */
/*--------------------------------------------------------------------------*/











			/*####  START!	  CSS GRID STYLES  ####*/
/*--------------------------------------------------------------------------*/
/* Content boX styling for help page CSS GRID */
/*--------------------------------------------*/
.help_content_box{

/*	background-color: #DCDCDC;
	border-style: solid;
	border-width: thin;
	border-color: lightblue; */
	display: grid;
	display: subgrid;
	grid-template-columns: 4fr 2.6in;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"content_help "
		"form_help";
	grid-gap: 3px;
	min-width: 610px;
	clear: both;
						}


	.content_help_main{
		grid-area:content_help;
		grid-column:1/2;
		grid-row:1/2;
		border-style: solid;
		border-width:thin;
		padding: 12px;
		margin-top: 1px;
		border-color: lightblue;
		margin-left:;

							}



	.form_help_aside{
		grid-area:form_help;
		grid-column:2/3;
		grid-row:1/2;
		padding: 12px;
		border-style: solid;
		border-width:thin;
		margin-top: 1px;
		border-color: lightblue;
		margin-right: 0%;
		margin-left: ;


							}
/* Fin. Content box styling for help page  CSS GRID */
/*-------------------------------------------*/





/*-------------------------------------------*/
/* Content box styling from home page */
/*------------------------------------*/
.homepage_content_box{

	display: grid;
	display: subgrid;
	grid-template-columns: 4fr 2in;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"content_homepage "
		"aside_homepage";
	/*grid-gap: 1px;*/


}

	.content_homepage_main{
		grid-area:content_homepage;
		grid-column:1/2;
		grid-row:1/3;
		/*border-style: solid;
		border-color: black;
		border-width:thin;
		padding: 12px;
		margin-top: 1px;
		border-color: lightblue;*/

									}



	.form_homepage_aside{
		grid-area:content_homepage;
		grid-column:2/3;
		grid-row:1/2;
		padding: 12px;
		border-style: solid;
		border-width:thin;
		margin-top: 1px;
		/*border-color: lightblue;*/

									}




								/* Fin. Content box styling from home page */
/*-------------------------------------------------------------------------*/
						/*#### END!	  CSS GRID STYLES  ####*/



#photo{
	position: relative;

}


.circle_motion1{
	top: -10px;
left: 30px;
background-color: #FF6;
}

.circle_motion2{
	top: -30px;
left: -20px;
background-color: #6CF;
}

.circle_motion3{
	top: -50px;
left: -50px;
background-color: #7FFF00;
}
